<!DOCTYPE html>
<html>

<head>
  <!-- Import style -->
  <link rel="stylesheet" href="./element-plus/index.css" />
  <!-- Import Vue 3 -->
  <script src="./vue3/vue.global.js"></script>
  <!-- Import component library -->
  <script src="./element-plus/index.full.js"></script>
  <!-- Import element plus icons -->
  <script src="./element-plus/index.iife.min.js"></script>
  <!-- 引入 ECharts 文件 -->
  <script src="./echarts/echarts.min.js"></script>
  <script src="./data/cardsData.js"></script>
  <script src="./data/commonData.js"></script>
  <meta charset="utf-8">
  <title>我的美食图鉴</title>
</head>

<body>
  <div id="app">
    <!-- 左侧导航栏 - 整体可滚动 -->
    <div class="left-sidebar">
      <div class="app-title">
        <el-icon>
          <Sugar />
        </el-icon>
        我的美食图鉴
        <el-icon>
          <Sugar />
        </el-icon>
      </div>

      <div class="filter-section">
        <div class="filter-title">搜索卡片</div>
        <el-input v-model="searchText" placeholder="输入卡片名称搜索" clearable>
          <template #prefix>
            <el-icon>
              <Search />
            </el-icon>
          </template>
        </el-input>
      </div>

      <div class="filter-section">
        <div class="filter-title">卡片类型</div>
        <el-radio-group v-model="selectedType" class="filter-radio-group" @change="filterCardType()">
          <el-radio label="all">全部</el-radio>
          <el-radio v-for="(item,index) in cardTypes" :label="index">{{item}}</el-radio>
        </el-radio-group>
      </div>

      <div class="filter-section">
        <div class="filter-title">攻击类型</div>
        <el-radio-group v-model="selectedAttackType" class="filter-radio-group" @change="filterAttackType()">
          <el-radio label="all">全部</el-radio>
          <el-radio v-for="(item,index) in attackTypes" :label="index">{{item}}</el-radio>
        </el-radio-group>
      </div>

      <div class="filter-section">
        <div class="filter-title">稀有度</div>
        <el-radio-group v-model="selectedRarity" class="filter-radio-group">
          <el-radio label="all">全部</el-radio>
          <el-radio v-for="(item,index) in rarity" :label="index">{{item}}</el-radio>
        </el-radio-group>
      </div>

      <div class="filter-section">
        <div class="filter-title">转职能力</div>
        <el-radio-group v-model="selectedTransfer" class="filter-radio-group">
          <el-radio label="all">全部</el-radio>
          <el-radio label="transfer1">一转</el-radio>
          <el-radio label="transfer2">二转</el-radio>
          <el-radio label="transfer3">三转</el-radio>
          <el-radio label="transfer4">四转</el-radio>
          <el-radio label="transfer5">终转</el-radio>
        </el-radio-group>
      </div>

      <div class="filter-section">
        <div class="filter-title">耗能范围 {{energyRange[0]}}-{{energyRange[1]}}</div>
        <el-slider v-model="energyRange" range :max="400" :step="25" show-stops></el-slider>
      </div>

      <div style="margin:20px auto;text-align:center;">
        <el-button type="primary" @click="resetFilters">重置筛选条件</el-button>
      </div>

      <el-divider border-style="dotted"></el-divider>

      <div class="chart-container">
        <div class="chart-title">卡片类型分布</div>
        <div id="typeChart" style="width:330px;height:200px;"></div>
      </div>

      <div class="chart-container">
        <div class="chart-title">卡片攻击类型分布</div>
        <div id="attackTypeChart" style="width:330px;height:200px;"></div>
      </div>

      <div class="chart-container">
        <div class="chart-title">卡片稀有度分布</div>
        <div id="rarityChart" style="width:330px;height:200px;"></div>
      </div>

      <div class="chart-container">
        <div class="chart-title">卡片耗能对比</div>
        <div id="energyChart" style="width:330px;height:300px;"></div>
        <div class="pagination-controls">
          <div class="pagination-row">
            <el-button size="small" @click="firstEnergyPage" :disabled="currentEnergyPage === 1">
              <el-icon>
                <D-Arrow-Left />
              </el-icon>
            </el-button>
            <el-button size="small" @click="prevEnergyPage" :disabled="currentEnergyPage === 1">
              <el-icon>
                <Arrow-Left />
              </el-icon>
            </el-button>
            <span class="page-info">第
              <el-input v-model="pageInput" size="small" class="page-input" @keyup.enter="goToPage" @blur="goToPage"
                :min="1" :max="totalEnergyPages"></el-input>
              / {{ totalEnergyPages }} 页</span>
            <el-button size="small" @click="nextEnergyPage" :disabled="currentEnergyPage === totalEnergyPages">
              <el-icon>
                <Arrow-Right />
              </el-icon>
            </el-button>
            <el-button size="small" @click="lastEnergyPage" :disabled="currentEnergyPage === totalEnergyPages">
              <el-icon>
                <D-Arrow-Right />
              </el-icon>
            </el-button>
          </div>
        </div>
      </div>
    </div>

    <!-- 主内容区 -->
    <div class="main-content">
      <div class="cards-container">
        <div class="card-item" v-for="card in paginatedCards" :key="card.id">
          <div class="card-header">
            <img class="card-avatar" :src="getAvatarUrl(card.id, 0)" :alt="card.name" @error="handleAvatarError" />
            <div class="card-name">{{ card.name }}</div>
          </div>
          <div class="card-content">
            <div class="card-property">
              <div class="property-label">
                <el-icon>
                  <Star />
                </el-icon>
                稀有度
              </div>
              <div class="property-value">
                <el-tag :type="tagTypes[card.rarity]" effect="dark">
                  {{rarity[card.rarity]}}
                </el-tag>
              </div>
            </div>
            <div class="card-property">
              <div class="property-label">
                <el-icon><Knife-Fork /></el-icon>
                类型
              </div>
              <div class="property-value">
                {{cardTypes[card.type]}}
                <span v-if="card.attackType!=undefined">- {{attackTypes[card.attackType]}}</span>
              </div>
            </div>
            <div class="card-property">
              <div class="property-label">
                <el-icon>
                  <Sunny />
                </el-icon>
                耗能
              </div>
              <div class="property-value">{{ card.energy }} 火苗</div>
            </div>
            <div class="card-property">
              <div class="property-label">
                <el-icon><Circle-Plus /></el-icon>
                强化
              </div>
              <div class="property-value">{{ card.reinforcement }}</div>
            </div>
            <div class="card-property" v-if="card.skill">
              <div class="property-label">
                <el-icon>
                  <Aim />
                </el-icon>
                技能
              </div>
              <div class="property-value">{{ card.skill }}</div>
            </div>
            <div class="card-abilities">
              <div class="ability-title">能力</div>
              <div class="ability-item">{{ card.ability }}</div>
            </div>
            <div class="card-abilities" v-if="card.transfer1">
              <div class="ability-title">
                <img class="transfer-avatar" :src="getAvatarUrl(card.id, 1)" :alt="card.transfer1.name"
                  @error="handleAvatarError" />
                一转 {{ card.transfer1.name }}
              </div>
              <div class="ability-item">
                <span class="ability-tag">
                  <el-icon>
                    <Sunny />
                  </el-icon>
                  {{card.transfer1.energy}}
                </span>
                {{ card.transfer1.info }}
              </div>
            </div>
            <div class="card-abilities" v-if="card.transfer2">
              <div class="ability-title">
                <img class="transfer-avatar" :src="getAvatarUrl(card.id, 2)" :alt="card.transfer2.name"
                  @error="handleAvatarError" />
                二转 {{ card.transfer2.name }}
              </div>
              <div class="ability-item">
                <span class="ability-tag">
                  <el-icon>
                    <Sunny />
                  </el-icon>
                  {{card.transfer2.energy}}
                </span>
                {{ card.transfer2.info }}
              </div>
            </div>
            <div class="card-abilities" v-if="card.transfer3">
              <div class="ability-title">
                <img class="transfer-avatar" :src="getAvatarUrl(card.id, 3)" :alt="card.transfer3.name"
                  @error="handleAvatarError" />
                三转 {{ card.transfer3.name }}
              </div>
              <div class="ability-item">
                <span class="ability-tag">
                  <el-icon>
                    <Sunny />
                  </el-icon>
                  {{card.transfer3.energy}}
                </span>
                {{ card.transfer3.info }}
              </div>
            </div>
            <div class="card-abilities" v-if="card.transfer4">
              <div class="ability-title">
                <img class="transfer-avatar" :src="getAvatarUrl(card.id, 4)" :alt="card.transfer4.name"
                  @error="handleAvatarError" />
                四转 {{ card.transfer4.name }}
              </div>
              <div class="ability-item">
                <span class="ability-tag">
                  <el-icon>
                    <Sunny />
                  </el-icon>
                  {{card.transfer4.energy}}
                </span>
                {{ card.transfer4.info }}
              </div>
            </div>
            <div class="card-abilities" v-if="card.transfer5">
              <div class="ability-title">
                <img class="transfer-avatar" :src="getAvatarUrl(card.id, 5)" :alt="card.transfer5.name"
                  @error="handleAvatarError" />
                终转 {{ card.transfer5.name }}
              </div>
              <div class="ability-item">
                <span class="ability-tag">
                  <el-icon>
                    <Sunny />
                  </el-icon>
                  {{card.transfer5.energy}}
                </span>
                {{ card.transfer5.info }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 卡片分页控件 -->
      <div class="cards-pagination">
        <div class="pagination-row">
          <el-button size="small" @click="firstCardPage" :disabled="currentCardPage === 1">
            <el-icon>
              <D-Arrow-Left />
            </el-icon>
          </el-button>
          <el-button size="small" @click="prevCardPage" :disabled="currentCardPage === 1">
            <el-icon>
              <Arrow-Left />
            </el-icon>
          </el-button>
          <span class="page-info">第
            <el-input v-model="cardPageInput" size="small" class="page-input" @keyup.enter="goToCardPage"
              @blur="goToCardPage" :min="1" :max="totalCardPages"></el-input>
            / {{ totalCardPages }} 页</span>
          <el-button size="small" @click="nextCardPage" :disabled="currentCardPage === totalCardPages">
            <el-icon>
              <Arrow-Right />
            </el-icon>
          </el-button>
          <el-button size="small" @click="lastCardPage" :disabled="currentCardPage === totalCardPages">
            <el-icon>
              <D-Arrow-Right />
            </el-icon>
          </el-button>
        </div>
        <div class="cards-count">共 {{ filteredCards.length }} 张卡片</div>
      </div>
    </div>
  </div>
  <script>
    const App = {
      data() {
        return {
          cards: cardsData,
          cardTypes: cardTypes,
          attackTypes: attackTypes,
          tagTypes: tagTypes,
          rarity: rarity,
          searchText: '',
          selectedType: radioAll,
          selectedRarity: radioAll,
          selectedTransfer: radioAll,
          selectedAttackType: radioAll,//攻击类型筛选
          //系统默认的单选框初始值
          constantAll: radioAll,
          //用户筛选的耗能范围
          energyRange: energyRange,
          //系统默认的耗能范围
          constantEnergyRange: energyRange,
          typeChart: null,
          energyChart: null,
          rarityChart: null,
          attackTypeChart: null,
          debounceTimer: null,
          rarityColors: rarityColors,//为不同稀有度设置不同颜色
          transferColors: transferColors,//转职卡片的颜色
          //卡片耗能对比分页相关数据
          currentEnergyPage: 1,
          energyPageSize: energyPageSize, //卡片耗能对比每页显示的项目数量
          pageInput: '1', //用户输入的页码
          //卡片分页相关数据
          currentCardPage: 1,
          cardPageSize: cardPageSize, //卡片每页显示卡片数
          cardPageInput: '1', //用户输入的卡片页码
        }
      },
      computed: {
        //所有卡片类型及其计数
        cardTypesWithCount() {
          const typeCounts = {};
          this.cards.forEach(card => {
            typeCounts[card.type] = (typeCounts[card.type] || 0) + 1;
          });

          return Object.keys(typeCounts).map(type => ({
            name: this.cardTypes[type],
            count: typeCounts[type]
          })).sort((a, b) => b.count - a.count);
        },
        //稀有度分布数据
        rarityWithCount() {
          const rarityCounts = {};
          this.cards.forEach(card => {
            rarityCounts[card.rarity] = (rarityCounts[card.rarity] || 0) + 1;
          });

          return Object.keys(rarityCounts).map(rarity => ({
            name: this.rarity[rarity],
            count: rarityCounts[rarity],
            value: rarityCounts[rarity]
          })).sort((a, b) => b.count - a.count);
        },
        //攻击类型分布数据
        attackTypesWithCount() {
          const attackTypeCounts = {};
          // 只统计攻击型卡片(type为0)的攻击类型
          this.cards.forEach(card => {
            if (card.type === 0 && card.attackType !== undefined) {
              attackTypeCounts[card.attackType] = (attackTypeCounts[card.attackType] || 0) + 1;
            }
          });

          return Object.keys(attackTypeCounts).map(attackType => ({
            name: this.attackTypes[attackType],
            count: attackTypeCounts[attackType],
            value: attackTypeCounts[attackType]
          })).sort((a, b) => b.count - a.count);
        },
        //包含所有转职卡片数据的耗能数据
        energyDataWithTransfers() {
          const energyData = [];

          this.cards.forEach(card => {
            //添加基础卡片
            energyData.push({
              name: card.name,
              energy: card.energy,
              type: 'base'
            });

            //添加转职卡片
            for (let i = 1; i <= 5; i++) {
              const transferKey = `transfer${i}`;
              if (card[transferKey]) {
                energyData.push({
                  name: `${card[transferKey].name}`,
                  energy: card[transferKey].energy,
                  type: `transfer${i}`
                });
              }
            }
          });

          //按耗能降序排序
          return energyData.sort((a, b) => b.energy - a.energy);
        },
        //当前页的耗能数据
        currentEnergyData() {
          const startIndex = (this.currentEnergyPage - 1) * this.energyPageSize;
          const endIndex = startIndex + this.energyPageSize;
          return this.energyDataWithTransfers.slice(startIndex, endIndex);
        },
        //总页数
        totalEnergyPages() {
          return Math.ceil(this.energyDataWithTransfers.length / this.energyPageSize);
        },
        //过滤后的卡片
        filteredCards() {
          return this.cards.filter(card => {
            //搜索文本过滤
            const matchesSearch = !this.searchText ||
              card.name.toLowerCase().includes(this.searchText.toLowerCase()) ||
              //循环检查 transfer1 到 transfer5
              Array.from({ length: 5 }, (_, i) => i + 1).some(i => {
                const transfer = card[`transfer${i}`];
                return transfer && transfer.name && transfer.name.toLowerCase().includes(this.searchText.toLowerCase());
              });

            //类型过滤
            const matchesType = this.selectedType === this.constantAll ||
              card.type === this.selectedType;

            //稀有度过滤
            const matchesRarity = this.selectedRarity === this.constantAll ||
              card.rarity === this.selectedRarity;

            //转职能力过滤
            const matchesCondition = this.selectedTransfer === this.constantAll ||
              card[this.selectedTransfer] != undefined;

            //耗能范围过滤
            const matchesEnergy = card.energy >= this.energyRange[0] &&
              card.energy <= this.energyRange[1];

            //新增：攻击类型过滤
            const matchesAttackType = this.selectedAttackType === this.constantAll ||
              card.attackType === this.selectedAttackType;

            return matchesSearch && matchesType && matchesRarity && matchesCondition && matchesEnergy && matchesAttackType;
          });
        },
        //卡片总页数
        totalCardPages() {
          return Math.ceil(this.filteredCards.length / this.cardPageSize);
        },
        //当前页的卡片数据
        paginatedCards() {
          const startIndex = (this.currentCardPage - 1) * this.cardPageSize;
          const endIndex = startIndex + this.cardPageSize;
          return this.filteredCards.slice(startIndex, endIndex);
        }
      },
      watch: {
        //监听 filteredCards 的变化
        filteredCards: {
          handler(newVal, oldVal) {
            this.debouncedShowInfo();
            //当筛选条件改变时，重置卡片页码为1
            this.currentCardPage = 1;
            this.cardPageInput = '1';
            //滚动到顶部
            this.scrollToTop();
          },
          //立即监听，确保初始化时也会触发
          immediate: true
        },
        //监听卡片页码变化，翻页时也滚动到顶部
        currentCardPage: {
          handler() {
            this.scrollToTop();
          }
        }
      },
      methods: {
        //获取头像URL
        getAvatarUrl(cardId, transferLevel) {
          return `./pic/${cardId}-${transferLevel}.png`;
        },
        //处理头像加载错误
        handleAvatarError(event) {
          event.target.src = './pic/default.png';
        },
        //只有攻击型卡片才有攻击类型，用户筛选攻击类型时，卡片类型修改为攻击型
        filterAttackType() {
          if (this.selectedAttackType != this.constantAll) {
            this.selectedType = 0;
          }
        },
        filterCardType() {
          if (this.selectedType != 0) {
            this.selectedAttackType = this.constantAll
          }
        },
        //滚动到顶部方法
        scrollToTop() {
          // 使用 nextTick 确保 DOM 已更新
          this.$nextTick(() => {
            const mainContent = document.querySelector('.main-content');
            if (mainContent) {
              mainContent.scrollTop = 0;
            }
          });
        },
        //重置筛选条件
        resetFilters() {
          this.searchText = '';
          this.selectedType = this.constantAll;
          this.selectedRarity = this.constantAll;
          this.selectedTransfer = this.constantAll;
          this.selectedAttackType = this.constantAll;
          this.energyRange = this.constantEnergyRange;
          //重置卡片页码
          this.currentCardPage = 1;
          this.cardPageInput = '1';
        },
        showInfo() {
          this.$notify({
            title: '搜索完成',
            message: `找到 ${this.filteredCards.length} 张卡片`,
            type: 'success',
          })
        },
        //防抖函数
        debouncedShowInfo() {
          if (this.debounceTimer) {
            clearTimeout(this.debounceTimer);
          }
          this.debounceTimer = setTimeout(() => {
            this.showInfo();
          }, 400);
        },
        //卡片耗能对比首页
        firstEnergyPage() {
          this.pageInput = 1;
          this.currentEnergyPage = 1;
          this.updateEnergyChart();
        },
        //卡片耗能对比尾页
        lastEnergyPage() {
          this.pageInput = this.totalEnergyPages;
          this.currentEnergyPage = this.totalEnergyPages;
          this.updateEnergyChart();
        },
        //卡片耗能对比跳转到指定页面
        goToPage() {
          let pageNum = parseInt(this.pageInput);

          //验证输入
          if (isNaN(pageNum) || pageNum < 1) {
            pageNum = 1;
          } else if (pageNum > this.totalEnergyPages) {
            pageNum = this.totalEnergyPages;
          }

          this.currentEnergyPage = pageNum;
          this.pageInput = pageNum.toString();
          this.updateEnergyChart();
        },
        //卡片耗能对比上一页
        prevEnergyPage() {
          if (this.currentEnergyPage > 1) {
            this.currentEnergyPage--;
            this.pageInput = this.currentEnergyPage;
            this.updateEnergyChart();
          }
        },
        //卡片耗能对比下一页
        nextEnergyPage() {
          if (this.currentEnergyPage < this.totalEnergyPages) {
            this.currentEnergyPage++;
            this.pageInput = this.currentEnergyPage;
            this.updateEnergyChart();
          }
        },
        //卡片分页方法
        firstCardPage() {
          this.cardPageInput = '1';
          this.currentCardPage = 1;
          this.scrollToTop();
        },
        lastCardPage() {
          this.cardPageInput = this.totalCardPages.toString();
          this.currentCardPage = this.totalCardPages;
          this.scrollToTop();
        },
        goToCardPage() {
          let pageNum = parseInt(this.cardPageInput);

          //验证输入
          if (isNaN(pageNum) || pageNum < 1) {
            pageNum = 1;
          } else if (pageNum > this.totalCardPages) {
            pageNum = this.totalCardPages;
          }

          this.currentCardPage = pageNum;
          this.cardPageInput = pageNum.toString();
          this.scrollToTop();
        },
        prevCardPage() {
          if (this.currentCardPage > 1) {
            this.currentCardPage--;
            this.cardPageInput = this.currentCardPage.toString();
            this.scrollToTop();
          }
        },
        nextCardPage() {
          if (this.currentCardPage < this.totalCardPages) {
            this.currentCardPage++;
            this.cardPageInput = this.currentCardPage.toString();
            this.scrollToTop();
          }
        },
        //初始化图表
        initCharts() {
          //类型分布图表
          this.typeChart = echarts.init(document.getElementById('typeChart'));
          const typeData = this.cardTypesWithCount.map(type => ({
            value: type.count,
            name: type.name
          }));

          const typeOption = {
            tooltip: {
              trigger: 'item'
            },
            legend: {
              top: 'top',
              type: 'scroll',
              orient: 'horizontal',
              height: 'auto'
            },
            grid: {
              x: 0,
              y: 0
            },
            series: [
              {
                name: '卡片类型',
                type: 'pie',
                radius: ['40%', '70%'],
                padAngle: 5,
                itemStyle: {
                  borderRadius: 10
                },
                avoidLabelOverlap: false,
                label: {
                  show: false,
                  position: 'center'
                },
                emphasis: {
                  label: {
                    show: true,
                    fontSize: '40',
                    fontWeight: 'bold',
                    formatter: '{d}%'
                  }
                },
                labelLine: {
                  show: false
                },
                data: typeData
              }
            ]
          };
          this.typeChart.setOption(typeOption);

          //稀有度分布图表
          this.rarityChart = echarts.init(document.getElementById('rarityChart'));
          const rarityData = this.rarityWithCount.map(item => ({
            value: item.count,
            name: item.name
          }));

          const rarityOption = {
            tooltip: {
              trigger: 'item'
            },
            legend: {
              top: 'top',
              type: 'scroll',
              orient: 'horizontal',
              height: 'auto'
            },
            grid: {
              x: 0,
              y: 0
            },
            series: [
              {
                name: '卡片稀有度',
                type: 'pie',
                radius: ['40%', '70%'],
                padAngle: 5,
                itemStyle: {
                  borderRadius: 10,
                  color: function (params) {
                    return rarityColors[params.name] || '#ccc';
                  }
                },
                avoidLabelOverlap: false,
                label: {
                  show: false,
                  position: 'center'
                },
                emphasis: {
                  label: {
                    show: true,
                    fontSize: '40',
                    fontWeight: 'bold',
                    formatter: '{d}%'
                  }
                },
                labelLine: {
                  show: false
                },
                data: rarityData
              }
            ]
          };
          this.rarityChart.setOption(rarityOption);

          //攻击类型分布图表
          this.attackTypeChart = echarts.init(document.getElementById('attackTypeChart'));
          const attackTypeData = this.attackTypesWithCount.map(item => ({
            value: item.count,
            name: item.name
          }));

          const attackTypeOption = {
            tooltip: {
              trigger: 'item'
            },
            legend: {
              top: 'top',
              type: 'scroll',
              orient: 'horizontal',
              height: 'auto'
            },
            grid: {
              x: 0,
              y: 0
            },
            series: [
              {
                name: '攻击类型',
                type: 'pie',
                radius: ['40%', '70%'],
                padAngle: 5,
                itemStyle: {
                  borderRadius: 10
                },
                avoidLabelOverlap: false,
                label: {
                  show: false,
                  position: 'center'
                },
                emphasis: {
                  label: {
                    show: true,
                    fontSize: '40',
                    fontWeight: 'bold',
                    formatter: '{d}%'
                  }
                },
                labelLine: {
                  show: false
                },
                data: attackTypeData
              }
            ]
          };
          this.attackTypeChart.setOption(attackTypeOption);

          //初始化耗能对比图表
          this.energyChart = echarts.init(document.getElementById('energyChart'));
          this.updateEnergyChart();

          //窗口大小改变时重置图表大小
          const self = this;
          window.addEventListener('resize', function () {
            self.typeChart.resize();
            self.rarityChart.resize();
            self.attackTypeChart.resize();
            self.energyChart.resize();
          });
        },
        //更新耗能对比图表
        updateEnergyChart() {
          //使用当前页的数据，并对当前页数据进行从大到小排序
          const currentPageData = this.currentEnergyData;

          //对当前页的数据按耗能从大到小排序
          const sortedPageData = [...currentPageData].sort((a, b) => a.energy - b.energy);

          const energyOption = {
            tooltip: {
              trigger: 'item'
            },
            grid: {
              left: 0,
              right: '5%',
              bottom: 0,
              top: 0,
              containLabel: true
            },
            xAxis: {
              type: 'value',
              boundaryGap: [0, 0.01],
              minInterval: 1
            },
            yAxis: {
              type: 'category',
              data: sortedPageData.map(item => item.name),
              axisLabel: {
                interval: 0,
                formatter: function (value) {
                  //截断过长的名称
                  return value.length > 6 ? value.substring(0, 6) + '...' : value;
                }
              }
            },
            series: [
              {
                name: '耗能',
                type: 'bar',
                itemStyle: {
                  normal: {
                    //设置圆角
                    //[左上角, 右上角, 右下角, 左下角]
                    barBorderRadius: [0, 50, 50, 0]
                  }
                },
                data: sortedPageData.map(item => {
                  //根据卡片类型设置不同颜色
                  let color = this.transferColors['base']; //基础卡片颜色
                  if (item.type !== 'base') {
                    color = this.transferColors[item.type];
                  }
                  return {
                    value: item.energy,
                    itemStyle: {
                      color: color
                    },
                    type: item.type
                  };
                })
              }
            ]
          };
          this.energyChart.setOption(energyOption);
        }
      },
      mounted() {
        this.initCharts();
      },
    };

    const app = Vue.createApp(App);
    //导入所有图标并进行全局注册
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
      app.component(key, component)
    }
    app.use(ElementPlus)
    app.mount('#app')
  </script>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Microsoft YaHei", sans-serif;
    }

    #app {
      display: flex;
      min-height: 100vh;
      background: linear-gradient(135deg, #f5f7fa 0%, #e4efe9 100%);
    }

    /* 左侧导航栏样式 - 整体可滚动 */
    .left-sidebar {
      width: 400px;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 20px;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
      height: 100vh;
      position: sticky;
      top: 0;
      flex-shrink: 0;
    }

    /* 自定义滚动条样式 */
    .left-sidebar::-webkit-scrollbar {
      width: 6px;
    }

    .left-sidebar::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    .left-sidebar::-webkit-scrollbar-thumb {
      background: #ff9d00;
      border-radius: 10px;
    }

    .left-sidebar::-webkit-scrollbar-thumb:hover {
      background: #ff6b00;
    }

    .app-title {
      text-align: center;
      margin-bottom: 25px;
      padding-bottom: 15px;
      border-bottom: 2px solid #ff9d00;
      color: #ff6b00;
      font-size: 24px;
      font-weight: bold;
    }

    .filter-section {
      margin-bottom: 20px;
    }

    .filter-title {
      font-size: 16px;
      margin-bottom: 12px;
      color: #555;
      font-weight: bold;
    }

    /* 修复卡片类型和稀有度选项对齐问题 */
    .filter-radio-group {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 8px;
    }

    .filter-radio-group .el-radio {
      margin-bottom: 0;
    }

    .filter-radio-group .el-radio .el-radio__label {
      white-space: normal;
      word-break: break-all;
    }

    /* 分页控件样式 */
    .pagination-controls {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
      padding: 0 10px;
    }

    .pagination-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .page-info {
      padding: 0 10px;
      font-size: 12px;
      color: #666;
    }

    .page-input {
      width: 50px;
    }

    /* 主内容区样式 */
    .main-content {
      flex: 1;
      padding: 20px;
      overflow-y: auto;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    /* 主内容区滚动条样式 */
    .main-content::-webkit-scrollbar {
      width: 8px;
    }

    .main-content::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    .main-content::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 10px;
    }

    .main-content::-webkit-scrollbar-thumb:hover {
      background: #a8a8a8;
    }

    .cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px;
      flex: 1;
    }

    .card-item {
      background: white;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .card-item:hover {
      transform: translateY(-5px);
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
    }

    .card-header {
      background: linear-gradient(135deg, #ff9d00 0%, #ff6b00 100%);
      color: white;
      padding: 10px 15px;
      display: flex;
      align-items: center;
    }

    .card-avatar {
      width: 40px;
      height: 50px;
      border-radius: 5px;
      margin-right: 10px;
      object-fit: cover;
      border: 2px solid rgba(255, 255, 255, 0.5);
    }

    .card-name {
      font-size: 20px;
      font-weight: bold;
      flex: 1;
    }

    .card-content {
      padding: 15px;
    }

    .card-property {
      display: flex;
      margin-bottom: 10px;
    }

    .property-label {
      width: 80px;
      font-weight: bold;
      color: orange;
    }

    .property-value {
      flex: 1;
      color: #333;
    }

    .card-abilities {
      margin-top: 15px;
    }

    .ability-title {
      font-weight: bold;
      border-left: 3px solid #ff6b00;
      padding-left: 8px;
      margin-bottom: 8px;
      color: #ff6b00;
      display: flex;
      align-items: center;
    }

    .transfer-avatar {
      width: 30px;
      height: 37px;
      border-radius: 4px;
      margin-right: 8px;
      object-fit: cover;
      border: 1px solid rgba(255, 107, 0, 0.3);
    }

    .ability-item {
      margin-bottom: 5px;
      font-size: 14px;
    }

    .ability-tag {
      color: #ff6b00;
      font-weight: bold;
      margin-right: 5px;
    }

    .chart-container {
      background: white;
      border-radius: 10px;
      padding: 15px;
      margin-bottom: 15px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }

    .chart-title {
      font-size: 16px;
      margin-bottom: 10px;
      text-align: center;
      color: #555;
      font-weight: bold;
    }

    /* 卡片分页样式 */
    .cards-pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      padding: 15px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }

    .cards-count {
      font-size: 14px;
      color: #666;
      font-weight: bold;
    }
  </style>
</body>

</html>